table,
td {
    border: 1px solid black;
}

tr {
    height: 1rem;
}

td,
th {
    height: 1rem;
    width: 1rem;
    padding: 0.5em;
    text-align: center;
}

p {
    white-space: pre;
}

input.invalid {
    border-color: red;
}
