body {
    background-color: hsl(37, 7%, 14%);
    color: hsl(0, 0%, 73%);
    font-size: large;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
}

h1 {
    text-align: center;
}

table,
td {
    color: black;
    background-color: palegoldenrod;
    border: 3px solid black;
}

td {
    font-weight: bold;
}

tr {
    height: 1rem;
}

td,
th {
    width: 1.5rem;
    padding: 0.5em;
    text-align: center;
}

p {
    white-space: pre;
}

label {
    padding: 0.5rem;
}

input {
    color: hsl(0, 0%, 73%);
    font-size: large;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
    border-color: white;
    border-radius: 0.5rem;
    background-color: hsl(30, 8%, 9%);
    height: 1.5rem;
    padding: 0.5rem;
}

input.invalid {
    border-color: red;
}

button {
    padding: 0.75rem;
    border-radius: 0.5rem;
    margin-left: 1rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
    font-weight: bold;
}
